/*  CSS Document                             */

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body { 
	background-color: #45180a; 
}

.promo { 
	/* removed so the main element on video goes to the body
	position: relative;*/ 
	margin: 40px;
	font-size: 16px;
	font-family: 'Indie Flower', cursive; 
}
/* rule apply relative to the .promo rule before
.promo video { 
	width: 100%;
	border: 1px solid #fff;
}
*/
.promo video { /*make the video appear in the entire background of the main page*/
	position: fixed;
	left: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	z-index: -10; /*to make sure it's in the back*/
}

/*image with absolute position inside the main container but centered*/
.promo img {
	width: 160px;
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -80px
}

/*now to style the caption*/
.promo .caption {
	position: absolute;
	left: 0px;
	bottom: 60px;
	background-color: rgba(69,24,10,.8);
	width:100%;
}

.promo .caption p {
	font-size: 3em;
	margin: 0;
	padding: 10px 0px;
	text-align: center;
	color: #fff;
	/*add a rule around the top and bottom of the caption to make it look like the rule is continuing*/
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/*add media queries to make the design responsive for varying screen sizes*/
@media screen and (max-width: 700px) {
	.promo img { /*we want the offset of the margin-left to be half of the width*/
		top: 15px;
		width: 120px;
		margin-left: -60px;
	}
	.promo .caption p{ /*changing the size of the p element will then turn changes the size that the caption needs to be to emcompass the p element give us a little bit more room when our browser is less than 700px*/
		font-size: 2em;
		line-height: 22px;
		padding: 10px 0px;
	}
}

@media screen and (max-width: 450px) {
	.promo {
		margin: 15px;
		padding: 175px 0px 40px 0px;
		border: 1px solid #fff;
		background: url(muffins.jpg) no-repeat center bottom;
		background-size: cover;
	}
	/*this will target the video element because if a person is in a small phone this will gonna hide the element*/
	.promo video { 
		display: none;
	}
	.promo img {
		top: 15px;
		width: 90px;
		margin-left: -45px;
	}
	.promo .caption {
		position: static;
	}
	.promo .caption p {
		font-size: 1.4em;
		line-height: 22px; 
		padding: 10px 0px;
	}
	.touch .promo {
		min-height: inherit; /*we don't force a height in a small screen device*/
	}
}
/*this rules only be apply if modernizr have been added to the class of the HTML element*/
/* the target is the promo element and the video element*/
.touch .promo { /*the class .touch before .promo makes this CSS rule more specific than simply .promo inside the small screen*/
	min-height: 500px;
	border: 1px solid #fff;
	background: url(muffins.jpg) no-repeat center bottom;
	background-size: cover;
}

.touch .promo video {
	display: none;
}